
<div class='container-fluid'>
    <div class='row'>
      <div class='col-sm-2'>
        
        <nav class="navbar navbar-inverse navbar-fixed-top">
          <div class="container">
          <div class="navbar-header">
              <a class="navbar-brand logo" routerLink="">{{title}}</a>
              <a class="navbar-brand logo"  routerLink="/home">home</a>
              <a class="navbar-brand logo" routerLink="/add">AddStudent</a>
              <a class="navbar-brand logo" routerLink="/gallery">Gallery</a>
          </div>
          </div>
        </nav>
        </div>
    </div>
</div>
